body {
  background-color: blue;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.App {
  text-align: center;
}

h1 {
  color: rgb(36, 36, 91);
}

form {
  display: inline-block;
  text-align: left;
}

label {
  color: rgb(35, 35, 108);
  margin-right: 8px;
}

input {
  margin-bottom: 10px;
}

button {
  display: block;
  background-color: rgba(255, 255, 255, 0.5); 
  margin-top: 10px;
}
